.player-modal {
  background-color: var(--accent-color);
}
.add-button {
  background-color: var(--primary-color) !important;
  color: white;
  border: 1px solid white;
}

.cancel-button {
  border: 1px solid white;
}

mat-icon {
  color: var(--primary-color);
}

a {
  cursor: pointer;
}

mat-icon:hover {
  color: var(--secondary-color);
}

.player-button {
  background-color: white;
  border: solid 1px var(--primary-color);
  color: var(--primary-color) !important;
}

.centered-element {
  margin: 8px;
}

.player-row {
  max-width: 200px;
  padding: 2px;
  background-color: #f5f5f5;
  margin: 4px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  color: white;
  border: 1px solid white;
}

button.delete-player:hover {
  background-color: var(--accent-color);
}

.player-alias {
  padding-top: 8px;
}

.player-icon {
  padding: 4px;
}

.next-button {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.next-button:hover {
  background-color: gray !important;
}
