<div *ngFor="let match of matchList">
  <div class="match-item" fxLayout="column">
    <div
      class="match-header"
      fxLayoutAlign="space-between center"
      fxLayout="row"
      fxFlex="100"
    >
      <div class="match-date">
        <div fxLayout="row" fxLayoutGap="10">
          <span class="date-only">{{
            match.matchTime | date : "dd.MM.yyyy"
          }}</span
          ><span class="time-only">{{ match.matchTime | date : "HH:mm" }}</span>
        </div>
      </div>
      <div class="match-buttons">
        <div
          *ngIf="!match.isFinished"
          fxLayoutAlign="center end"
          fxLayoutGap="2"
        >
          <div *ngIf="isResultChanged">
            <button class="update-btn" (click)="updateMatchResult()" mat-button>
              <mat-icon>scoreboard</mat-icon>
              Aktualizuj
            </button>
          </div>
          <div *ngIf="!isResultChanged && checkPenaltiesResult()">
            <mat-checkbox
              color="primary"
              class="example-margin"
              [(ngModel)]="checked"
              matTooltip="Ostatni gwizdek"
              matTooltipPosition="above"
            ></mat-checkbox>
            <button
              class="complete-btn"
              (click)="endMatch()"
              mat-button
              [disabled]="!checked"
            >
              <mat-icon>sports_and_outdoors</mat-icon>
              Zakończ mecz
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="match-content"
      fxLayoutAlign="space-around center"
      fxLayout="row"
    >
      <div class="match-team" fxLayout="column" fxLayoutAlign="center center">
        <div class="team-img">
          <img [src]="match.homeTeam.gameTeam.badgeImg" alt="" width="30" />
        </div>
        <div>{{ match.homeTeam.gameTeam.name }}</div>
      </div>
      <div class="match-result" fxLayout="column">
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          [class]="!match.isFinished ? 'blink' : ''"
        >
          <div *ngIf="match.isFinished" fxLayoutAlign="center center">
            <h2>{{ match.homeGoals }}</h2>
          </div>
          <input
            *ngIf="!match.isFinished"
            id="homeGoalsId"
            class="result-in-progress"
            type="number"
            value="{{ match.homeGoals }}"
            (input)="checkResult()"
            onClick="this.select();"
          />
          <div><mat-icon>remove</mat-icon></div>
          <h2 *ngIf="match.isFinished">{{ match.awayGoals }}</h2>
          <input
            *ngIf="!match.isFinished"
            id="awayGoalsId"
            class="result-in-progress"
            type="number"
            value="{{ match.awayGoals }}"
            (input)="checkResult()"
            onClick="this.select();"
          />
        </div>
        <div
          *ngIf="
            match.isFinished && match.playOffMatch === true && match.penalties
          "
          matTooltip="Rzuty karne"
          matTooltipPosition="left"
          class="penalties-label"
        >
          ({{ match.penalties.homeGoals }} - {{ match.penalties.awayGoals }})
        </div>
        <div
          *ngIf="
            !match.isFinished &&
            match.homeGoals === match.awayGoals &&
            match.playOffMatch
          "
          matTooltip="Rzuty karne"
          matTooltipPosition="left"
          class="penalties-label"
          fxLayoutAlign="center center"
          fxLayoutGap="5px"
        >
          <input
            *ngIf="!match.isFinished"
            id="homePenaltyGoals"
            class="penalties-input"
            type="number"
            [value]="match.penalties ? match.penalties.homeGoals : 0"
            (input)="checkResult()"
            onClick="this.select();"
          />
          <div style="padding-bottom: 4px">-</div>
          <input
            *ngIf="!match.isFinished"
            id="awayPenaltyGoals"
            class="penalties-input"
            type="number"
            [value]="match.penalties ? match.penalties.awayGoals : 0"
            (input)="checkResult()"
            onClick="this.select();"
          />
        </div>
      </div>
      <div class="match-team" fxLayout="column" fxLayoutAlign="center center">
        <div class="team-img">
          <img [src]="match.awayTeam.gameTeam.badgeImg" alt="" width="30" />
        </div>
        <div>{{ match.awayTeam.gameTeam.name }}</div>
      </div>
    </div>
  </div>
</div>
