.header {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.header .title {
  margin-top: 6px;
  padding-left: 20px;
  letter-spacing: 2px;
  font-size: medium;
  font-weight: bold;
}

.content {
  min-height: 200px;
  margin-top: 2px;
}

mat-icon {
  transform: scale(2);
  color: var(--primary-color);
}
