<div fxLayout="column">
  <div>
    <div
      fxLayout="row"
      fxFlex="100"
      fxLayoutAlign="center center"
      class="header"
      [ngStyle]="{ 'background-color': backgroundColor }"
      [style.color]="fontColor"
    >
      <div fxFlex="20"></div>
      <div fxFlex="60" class="title" fxLayoutAlign="center center">
        {{ headerTitle | uppercase }}
      </div>
      <div fxFlex="20">
        <div fxLayoutAlign="end center" *ngIf="icon && !buttonDisabled">
          <div fxLayoutAlign="center center">
            <button
              [style.background-color]="backgroundColor"
              [matTooltip]="tooltipMessage"
              matTooltipPosition="above"
              matTooltipHideDelay="100"
              (click)="clickButton.emit()"
              [disabled]="buttonDisabled"
              [style.color]="fontColor"
              class="button-action"
              fxLayoutAlign="center center"
              fxLayoutGap="10"
            >
              <span [style.color]="fontColor" *ngIf="buttonText">
                {{ buttonText }}</span
              >
              <span>
                <mat-icon>{{ icon }}</mat-icon></span
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>
