<div fxLayout="column" *ngIf="players.length > 0">
  <br />
  <mat-divider></mat-divider>
  <div
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="2"
    style="width: 500; margin: 5px"
  >
    <div class="header-title" fxFlex="10">Z RZĘDU</div>
    <div fxLayout="row wrap" fxFlex="90" fxLayoutAlign="center center">
      <div
        *ngFor="let player of players"
        style="margin-left: 10px"
        fxLayoutAlign="center center"
      >
        <div
          [class]="getClass(player)"
          fxLayout="row"
          fxLayoutAlign="center center"
          (click)="choosePlayer(player)"
        >
          <span>{{ player.alias }}: {{ player.matchesInRow }}</span>
        </div>
      </div>
    </div>
  </div>
  <br />
  <mat-divider></mat-divider>
  <div fxLayoutAlign="start center" fxLayout="column" *ngIf="chosenPlayer">
    <div
      fxFlex="10"
      fxLayout="row"
      fxLayoutAlign="center center"
      class="header-title"
    >
      <span>ROZEGRANE MECZE:&nbsp;</span
      ><span style="color: var(--primary-color)">
        <b>
          {{ chosenPlayer.alias | uppercase }}
        </b></span
      >
    </div>

    <div *ngIf="chosenPlayer">
      <app-matchday-player-details
        [matchDayPlayer]="chosenPlayer"
      ></app-matchday-player-details>
    </div>
  </div>
</div>
<div
  fxLayout="column"
  *ngIf="players.length === 0"
  fxLayoutAlign="center center"
>
  <span class="info">Dodaj pierwszy mecz aby zobaczyć statystyki</span>
</div>
