<div fxLayout="column">
  <div class="added-player-list" fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div
        fxLayout="row"
        class="added-player"
        fxLayoutAlign="center center"
        *ngFor="let addedPlayer of addedPlayers"
        [matTooltip]="addedPlayer.alias"
        matTooltipPosition="above"
        (click)="removePlayer(addedPlayer)"
      >
        <div *ngIf="addedPlayer.alias.length > 9">
          {{ addedPlayer.alias | slice : 0 : 7 }}...
        </div>
        <div *ngIf="addedPlayer.alias.length <= 9">
          {{ addedPlayer.alias }}
        </div>
        <div><mat-icon>cancel</mat-icon></div>
      </div>
    </div>
  </div>

  <div
    class="player-list"
    style="max-height: 400px"
    *ngIf="addedPlayers.length < 2"
  >
    <div fxLayout="column" *ngFor="let player of filteredPlayers">
      <div
        fxFlex="row"
        fxFlex="100"
        class="player-panel"
        (click)="addPlayer(player)"
        [class]="addedPlayers.length >= 2 ? 'player-disabled' : ''"
      >
        <img [src]="getPlayerImg(player.playerImg)" height="25" />
        <span>{{ player.alias }}</span>
      </div>
    </div>
  </div>
</div>
