<div fxLayout="column" fxLayoutAlign="center center">
  <div
    class="added-player-list"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div fxLayout="column">
      <div
        fxLayout="row"
        class="added-player"
        *ngFor="let addedPlayer of addedPlayers"
        [matTooltip]="'Usuń: ' + addedPlayer.alias"
        matTooltipPosition="above"
        (click)="removePlayer(addedPlayer)"
        fxLayoutAlign="space-between center"
      >
        <div class="player-img">
          <img [src]="getPlayerImg(addedPlayer.playerImg)" />
        </div>
        <div *ngIf="addedPlayer.alias.length > 9">
          {{ addedPlayer.alias | slice : 0 : 7 }}...
        </div>
        <div *ngIf="addedPlayer.alias.length <= 9">
          {{ addedPlayer.alias }}
        </div>
        <div><mat-icon>cancel</mat-icon></div>
      </div>
    </div>
  </div>
  <br />
  <div
    class="player-list"
    *ngIf="addedPlayers.length < 2"
    fxLayout="column wrap"
  >
    <div fxLayout="column" *ngFor="let player of filteredPlayers">
      <div
        class="player-panel"
        (click)="addPlayer(player)"
        [class]="addedPlayers.length >= 2 ? 'player-disabled' : ''"
        [ngClass]="teamType == 'home' ? 'home' : 'away'"
      >
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5">
          <div class="player-img">
            <img [src]="getPlayerImg(player.playerImg)" />
          </div>
          <span *ngIf="player.alias.length <= 8" class="player-alias">{{
            player.alias | uppercase
          }}</span>
          <span *ngIf="player.alias.length > 8" class="player-alias">{{
            player.alias | uppercase
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
