<!-- <app-custom-progress-bar *ngIf="!isResponseComplete"></app-custom-progress-bar> -->

<!-- <div fxLayout="column" style="width: 100%" *ngIf="isResponseComplete"></div> -->
<div fxFlex fxLayout="column" class="season-content">
  <div fxFlex="100">
    <app-header-panel
      *ngIf="headerPanel"
      [headerPanelData]="headerPanel"
      #headerPanelRef
    ></app-header-panel>
  </div>
  <div fxFlex="100">
    <div fxFlex="5"></div>
    <div fxFlex="90">
      <app-content-frame
        backgroundColor="var(--primary-color)"
        headerTitle="tabela"
        icon="arrow_back"
        tooltipMessage="Powrót to ligi"
        (clickButton)="backToLeague()"
      >
        <app-season-table #seasonTableRef></app-season-table>
      </app-content-frame>
    </div>
    <div fxFlex="5"></div>
  </div>
  <div fxFlex="100" fxLayout="row" fxLayoutGap="5">
    <div fxFlex="5"></div>
    <div fxFlex="45">
      <app-content-frame
        backgroundColor="var(--primary-color)"
        headerTitle="Mecze"
        icon="add_circle"
        tooltipMessage="Dodaj mecz"
        (clickButton)="getNewMatchEvent()"
        [buttonDisabled]="newMatchButtonDisabled"
        #matchContentFrame
        buttonText="Dodaj mecz"
      >
        <app-match-list
          (outMatchDay)="takeMatchDayFromList($event)"
          [matchDayId]="currentMatchDayId"
          [seasonId]="seasonId"
          [isEuro]="euroEnabled"
          [newMatchOpenDialogCounter]="newMatchDialogCounter"
          [leaguePlayers]="leaguePlayerList"
          (matchChange)="refreshTable()"
          (playedEuroTeams)="takePlayedEuroTeams($event)"
          #matchListRef
        ></app-match-list>
      </app-content-frame>
    </div>
    <div fxFlex="45">
      <app-content-frame
        backgroundColor="var(--primary-color)"
        headerTitle="Kolejka"
        icon="add_circle"
        tooltipMessage="Dodaj kolejkę"
        (clickButton)="getNewMatchDayEvent()"
        [buttonDisabled]="newMatchDayButtonDisabled"
        #matchDayContentFrame
      >
        <app-matchday-stats
          [newMatchDayOpenDialogCounter]="newMatchDayDialogCounter"
          [inputMatchDay]="chosenMatchDay"
          [seasonId]="seasonId"
          (createdMatchDayId)="takeNewMatchDayId()"
          (completeMatchDayId)="takeFinishedMatchDayId()"
          #matchDayStatsRef
        ></app-matchday-stats>
      </app-content-frame>
    </div>
    <div fxFlex="5"></div>
  </div>
  <div fxFlex="100" *ngIf="euroEnabled">
    <div fxFlex="5"></div>
    <div fxFlex="90">
      <app-content-frame
        backgroundColor="#172665"
        fontColor="white"
        headerTitle="terminarz euro 2024"
        icon="calendar_month"
        [buttonDisabled]="true"
      >
        <app-groups
          [seasonId]="seasonId"
          #euroGroupsRef
          [playedTeams]="playedTeams"
        ></app-groups>
      </app-content-frame>
    </div>
    <div fxFlex="5"></div>
  </div>
</div>
