<div fxLayout="column">
  <div fxLayout="row" fxLayoutGap="10">
    <div fxLayout="column" fxLayoutAlign="space-between stretch" class="tile">
      <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign="center center">
        <h5>W drużynie</h5>
        <span class="material-symbols-outlined"> handshake </span>
      </div>
      <div
        *ngFor="let teammate of matchDayPlayer.teammates"
        fxLayoutAlign="center center"
      >
        <div
          fxLayout="row"
          fxLayoutGap="20"
          [class]="getClass(teammate)"
          fxLayoutAlign="center center"
        >
          <div>
            <b>{{ teammate.alias }}:</b>
          </div>

          <div>
            <b>{{ teammate.value }}</b>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between stretch" class="tile">
      <div fxLayout="row" fxLayoutGap="5" fxLayoutAlign="center center">
        <h5>Przeciwko</h5>
        <span class="material-symbols-outlined"> swords </span>
      </div>
      <div
        *ngFor="let opponent of matchDayPlayer.opponents"
        class="opponent"
        fxLayoutAlign="center center"
      >
        <div fxLayout="row" fxLayoutGap="5" [class]="getClass(opponent)">
          <div>
            <b>{{ opponent.alias }}:</b>
          </div>

          <div>
            <b>{{ opponent.value }}</b>
          </div>
        </div>
      </div>
    </div>
    <!-- <app-stats-panel
      [matchesStats]="matchDayPlayer.matchDayStats"
      title="W kolejce"
    ></app-stats-panel> -->
    <app-stats-panel
      [matchesStats]="matchDayPlayer.seasonStats"
      title="W sezonie"
    ></app-stats-panel>
  </div>
</div>
