mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
  margin-top: 50px;
  overflow-y: scroll;
}

.header-sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background: inherit;
}

.my-content {
  margin-top: 60px;
  width: 100%;
  z-index: 5;
  overflow: hidden !important;
}
