<div *ngIf="groups.length > 0">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    [selectedIndex]="selectedTab"
    style="color: #172665 !important"
  >
    <mat-tab
      *ngFor="let group of groups; let i = index"
      [label]="getlabel(group.groupCode)"
      [tabindex]="i"
      ><app-euro-group
        [seasonId]="seasonId"
        [group]="group"
        [playedTeams]="playedTeams"
      ></app-euro-group>
    </mat-tab>
    <mat-tab [tabindex]="6" label="RANKING 3 MIEJSC"
      ><br /><app-third-places-table
        fxLayoutAlign="center center"
        #thirdPlaceTableRef
        [seasonId]="seasonId"
        [playedTeams]="playedTeams"
      ></app-third-places-table
    ></mat-tab>
    <mat-tab [tabindex]="7" label="DRABINKA">
      <app-euro-calendar
        [seasonId]="seasonId"
        #euroCalendarRef
        [playedTeams]="playedTeams"
      ></app-euro-calendar
    ></mat-tab>
  </mat-tab-group>
</div>
