a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (width: 100%) {
  mat-toolbar {
    border-radius: 0px;
  }
}
.header {
  background-color: var(--primary-color);
}

img {
  width: 150px;
}

.menu-link:hover {
  color: lightgray;
  cursor: pointer;
}

.menu-icon {
  padding-bottom: 40px;
}
