<div class="match-modal" fxLayout="column">
  <div class="message">{{ message }}</div>
  <div
    *ngIf="euroMatch && !message"
    class="panel-euro-match"
    fxLayoutAlign="center center"
  >
    <div fxLayout="column" fxLayoutAlign="center center">
      <div style="font-size: large">
        <b
          ><span>{{ euroMatch.tournamentStage.description }} </span></b
        >
        <span *ngIf="isGroup(euroMatch.tournamentStage)">
          <b>{{ euroMatch.tournamentGroup }}</b></span
        >
      </div>
      <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="3">
        <div class="flag">
          <img [src]="euroMatch.homeTeam.flag" height="50px" />
        </div>
        <div class="team">
          {{ euroMatch.homeTeam.name }}
        </div>
        <div><mat-icon>remove</mat-icon></div>
        <div class="team">{{ euroMatch.awayTeam.name }}</div>
        <div class="flag">
          <img [src]="euroMatch.awayTeam.flag" height="50px" />
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="end center">
        <div style="font-size: medium">
          <b> {{ euroMatch.playedCity }}</b>
        </div>
        <div style="font-size: medium">
          <b> {{ euroMatch.dateTime | date : "d MMM yyyy, H:mm" }}</b>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-content fxFlex="100" *ngIf="!message">
    <form [formGroup]="matchForm" fxLayout="column">
      <div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-evenly stretch"
          fxLayoutGap="10px"
        >
          <div>
            <br />
            <mat-error
              *ngIf="homePlayersError"
              fxLayoutAlign="center center"
              style="font-size: 12px"
              >Dodaj zawodników gospodarzy!</mat-error
            >
            <div fxLayout="column" fxLayoutAlign="start center">
              <div fxLayout="column" fxLayoutAlign="center center">
                <mat-label style="font-weight: bolder">GOSPODARZE</mat-label>
                <app-euro-match-players
                  [leaguePlayers]="leaguePlayers"
                  #homePlayersRef
                  [teamType]="'home'"
                ></app-euro-match-players>
              </div>
            </div>
          </div>
          <div>
            <br />
            <mat-error
              *ngIf="awayPlayersError"
              fxLayoutAlign="center center"
              style="font-size: 12px"
              >Dodaj zawodników gości!</mat-error
            >
            <div fxLayout="column" fxLayoutAlign="start center">
              <div fxLayout="column" fxLayoutAlign="center center">
                <mat-label style="font-weight: bolder">GOŚCIE</mat-label>
                <app-euro-match-players
                  [leaguePlayers]="leaguePlayers"
                  #awayPlayersRef
                  [teamType]="'away'"
                ></app-euro-match-players>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end" fxFlex="10">
    <button
      mat-button
      [mat-dialog-close]
      (click)="resetForm()"
      class="cancel-button"
    >
      <span *ngIf="!message">Anuluj</span>
      <span *ngIf="message">Ok</span>
    </button>
    <button
      *ngIf="!serviceCalling && !message"
      mat-button
      cdkFocusInitial
      class="add-button"
      (click)="addMatch()"
      [disabled]="addButtonDisabled"
    >
      Dodaj
    </button>
  </div>
</div>
