<div fxLayout="row" fxLayoutGap="20">
  <div
    fxFlex="30"
    style="overflow-y: scroll; height: 370px"
    class="player-list-content"
  >
    <div *ngFor="let player of playerList">
      <app-player-item
        fxLayout="column"
        [player]="player"
        (emittedPlayer)="takeEmittedPlayer($event)"
      ></app-player-item>
    </div>
  </div>
  <div fxFlex="70" fxLayoutAlign="center center">
    <app-player-details
      #playerDetailsRef
      [chosenPlayer]="chosenPlayer"
      (editModeDisabled)="closeEditMode()"
    ></app-player-details>
  </div>
</div>
