table {
  margin: 10px;
  min-width: 300px;
  width: auto;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

thead {
  color: var(--primary-color);
  background-color: var(--shadow-color);
  border-bottom: solid 2px var(--primary-color);
  height: 40px;
  font-size: 14px;
}

.player-img {
  width: 20px;
}

.position {
  display: inline-block;
  font-size: 12px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 40px 999em 999em 40px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.position-1 {
  background-color: gold;
}

.position-2 {
  background-color: darkseagreen;
}
.position-3 {
  background-color: darkseagreen;
}

.position-last {
  background-color: indianred;
}

.position-default {
  background-color: lightgray;
}

.match-in-progress {
  background-color: whitesmoke;
}

.form {
  text-align: center;
  font-size: 13px;
  display: inline-block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  color: white;
}

.form-win {
  background-color: #3aa757;
}

.form-lose {
  background-color: #ea4335;
}

.form-draw {
  background-color: #9aa0a6;
}

.info {
  color: var(--primary-color);
  margin-top: 50px;
}
