/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: SignikaNegative, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}

:root {
  --primary-color: #2d4659;
  --secondary-color: #819f7f;
  --accent-color: #d3d0a8;
  --shadow-color: #fdfbda;
}

.mat-icon {
  vertical-align: middle;
}

@font-face {
  font-family: "SignikaNegative";
  src: url("assets/fonts/Signika_Negative/SignikaNegative-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
