table {
  padding: 2px;
  min-width: 300px;
  width: auto;
  text-align: center;
  table-layout: fixed;
}

thead {
  color: white;
  background-color: var(--primary-color);
  border: solid 1px var(--primary-color);
  height: 40px;
  font-size: 14px;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

thead:hover {
  color: white;
  background-color: var(--primary-color);
  border: solid 1px var(--primary-color);
}

.player-img {
  width: 20px;
}

.position {
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  /* border: solid white 1px; */
  margin: 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.position-1 {
  background-color: gold;
}

.position-2 {
  background-color: darkseagreen;
}
.position-3 {
  background-color: darkseagreen;
}

.position-last {
  background-color: indianred;
}

.position-default {
  background-color: lightgray;
}

.table-row {
  margin: 10px;
  padding: 20px;
  display: table-row;
  cursor: pointer;
  padding: 2px;
  border-bottom: gray 1px dotted;
}

.table-row:hover {
  /* border: solid var(--primary-color) 1px; */
  border-radius: 20px;
  background-color: gainsboro;
}

.form {
  text-align: center;
  font-size: 13px;
  display: inline-block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  color: white;
}

.form-win {
  background-color: #3aa757;
}

.form-lose {
  background-color: #ea4335;
}

.form-draw {
  background-color: #9aa0a6;
}

th {
  cursor: pointer;
}

.up {
  color: green !important;
}

.down {
  color: darkred !important;
}

.none {
  color: gray !important;
}
